* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.error>a {
  color: blue;
}

.label {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;

}

.loading {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}